/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* SCSS Global Grid Variables */
/* End Global Grid Variables */
/* line 8, ../sass/_grid.scss */
.section {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

/* line 20, ../sass/_grid.scss */
.column {
  display: block;
  float: left;
  margin-left: auto;
  margin-right: auto;
}
/* line 26, ../sass/_grid.scss */
.column .content {
  padding: 10px;
  margin: 5px;
  background-color: #313131;
  color: #FFF;
}

/* Small Screens */
@media screen and (max-width: 39.9375em) {
  /* line 42, ../sass/_grid.scss */
  .s1 {
    width: calc(1 * 8%);
  }

  /* line 42, ../sass/_grid.scss */
  .s2 {
    width: calc(2 * 8%);
  }

  /* line 42, ../sass/_grid.scss */
  .s3 {
    width: calc(3 * 8%);
  }

  /* line 42, ../sass/_grid.scss */
  .s4 {
    width: calc(4 * 8%);
  }

  /* line 42, ../sass/_grid.scss */
  .s5 {
    width: calc(5 * 8%);
  }

  /* line 42, ../sass/_grid.scss */
  .s6 {
    width: calc(6 * 8%);
  }

  /* line 42, ../sass/_grid.scss */
  .s7 {
    width: calc(7 * 8%);
  }

  /* line 42, ../sass/_grid.scss */
  .s8 {
    width: calc(8 * 8%);
  }

  /* line 42, ../sass/_grid.scss */
  .s9 {
    width: calc(9 * 8%);
  }

  /* line 42, ../sass/_grid.scss */
  .s10 {
    width: calc(10 * 8%);
  }

  /* line 42, ../sass/_grid.scss */
  .s11 {
    width: calc(11 * 8%);
  }

  /* line 42, ../sass/_grid.scss */
  .s12 {
    width: calc(12 * 8%);
  }
}
/* Medium Screens */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  /* line 57, ../sass/_grid.scss */
  .m1 {
    width: calc(1 * 8%);
  }

  /* line 57, ../sass/_grid.scss */
  .m2 {
    width: calc(2 * 8%);
  }

  /* line 57, ../sass/_grid.scss */
  .m3 {
    width: calc(3 * 8%);
  }

  /* line 57, ../sass/_grid.scss */
  .m4 {
    width: calc(4 * 8%);
  }

  /* line 57, ../sass/_grid.scss */
  .m5 {
    width: calc(5 * 8%);
  }

  /* line 57, ../sass/_grid.scss */
  .m6 {
    width: calc(6 * 8%);
  }

  /* line 57, ../sass/_grid.scss */
  .m7 {
    width: calc(7 * 8%);
  }

  /* line 57, ../sass/_grid.scss */
  .m8 {
    width: calc(8 * 8%);
  }

  /* line 57, ../sass/_grid.scss */
  .m9 {
    width: calc(9 * 8%);
  }

  /* line 57, ../sass/_grid.scss */
  .m10 {
    width: calc(10 * 8%);
  }

  /* line 57, ../sass/_grid.scss */
  .m11 {
    width: calc(11 * 8%);
  }

  /* line 57, ../sass/_grid.scss */
  .m12 {
    width: calc(12 * 8%);
  }
}
/* Large Screens */
@media screen and (min-width: 64em) {
  /* line 72, ../sass/_grid.scss */
  .l1 {
    width: calc(1 * 8%);
  }

  /* line 72, ../sass/_grid.scss */
  .l2 {
    width: calc(2 * 8%);
  }

  /* line 72, ../sass/_grid.scss */
  .l3 {
    width: calc(3 * 8%);
  }

  /* line 72, ../sass/_grid.scss */
  .l4 {
    width: calc(4 * 8%);
  }

  /* line 72, ../sass/_grid.scss */
  .l5 {
    width: calc(5 * 8%);
  }

  /* line 72, ../sass/_grid.scss */
  .l6 {
    width: calc(6 * 8%);
  }

  /* line 72, ../sass/_grid.scss */
  .l7 {
    width: calc(7 * 8%);
  }

  /* line 72, ../sass/_grid.scss */
  .l8 {
    width: calc(8 * 8%);
  }

  /* line 72, ../sass/_grid.scss */
  .l9 {
    width: calc(9 * 8%);
  }

  /* line 72, ../sass/_grid.scss */
  .l10 {
    width: calc(10 * 8%);
  }

  /* line 72, ../sass/_grid.scss */
  .l11 {
    width: calc(11 * 8%);
  }

  /* line 72, ../sass/_grid.scss */
  .l12 {
    width: calc(12 * 8%);
  }
}
